.hero_img {
  position: absolute;
  top: 60px;
  left: 208px;
  -webkit-mask-image: linear-gradient(
    rgba(46, 57, 86, 0.83),
    rgba(46, 47, 66, 0.75)
  );
}

.hero_title {
  margin: 0 auto 40px;
  margin-left: 100px;
  font-size: 120px;
  color: rgba(6, 7, 166, 0.75);
}

.hero_section {
  padding-top: 130px;
  text-align: left;
}

.border {
  margin: 0 auto;
  width: 1040px;
  height: 40px;
  border: 8px solid #121417;
  border-radius: 18px;
  border-bottom: none;
}

.flex_container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.text {
  margin: 0 auto;
  font-size: 24px;
  width: 900px;
}

.colored {
  font-weight: 600;
  color: #3470ff;
}
